<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Notes</title>
</head>

<body>
{% include "navbar.html" %}

<h1>My Notes</h1>



{% if  all_notes %}
    <div class="note-container">
        {% for note in all_notes %}
            <h2>Today's Tasks <img src="{{ note.image_url }}" alt=""/></h2>

            <div class="right">
                <a class="button details" href="/details/{{ note.id }}">Details</a>
                <a class="button edit" href="/edit/{{ note.id }}">Edit</a>
                <a class="button delete" href="/delete/{{ note.id }}">Delete</a>
            </div>
        {% endfor %}

    </div>
{% else %}
    <h2>There are no notes.</h2>
{% endif %}

{% include "footer.html" %}
</body>
</html>
